# /etc/systemd/system/raar-feed-descriptor.service

[Unit]
Description=Add Raar broadcast descriptions from rabe.ch feed

[Service]
Type=simple
User=raar-feed-descriptor
Nice=10
WorkingDirectory=/opt/raar-feed-descriptor
ExecStart=/usr/bin/scl enable rh-ruby22 -- ./raar_feed_descriptor.rb
